@import '../node_modules/js-datepicker/dist/datepicker.min.css';

/* Mobile Styling */

@media all and (max-width: 1000px) {
  /* All */
  html {
    width: 100vw;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    border: 0;
    font-family: "Roboto Mono";
    max-width: 100%;
    height: 100%;
    background-color: #043144;
    border-color: #043144;
    color: #D4E0E5;
  }

  .wrapper {
    margin: 0;
    border: 0;
    max-width: 100%;
    height: 100%;
  }

  .page {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10%;
    border-top: 4px solid #1c5061;
  }

  /* Header Row */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 3%;
    margin-bottom: -1%;
    margin-top: 7%;
  }

  .date {
    font-size: 140%;
    margin-left: .5rem;
  }

  .greeting {
    font-family: "Permanent Marker";
    /* margin-right: 2rem; */
    font-size: 175%;
  }

  .calendar {
    margin-right: .5rem;
    width: 60px;
    height: 60px;
  }

  /* Main Section */
  .main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  /* Daily Section */
  canvas {
    background-color: #1c5061;
    border-radius: 10px;
    border-color: #1c5061;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .daily-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Permanent Marker";
  }

  .row {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    margin-bottom: 2%;
    margin-top: 4%
  }
  .stats {
    margin-left: .2rem;
  }

  .daily-icon {
    font-size: .9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #1c5061;
    padding: 7px 17px 5px;
    border-radius: 20px;
    background-color: #1c5061;
    position: relative;
    width: 20%;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .icon-label {
    text-align: center;
    width: 110%;
  }

  .steps-label,
  .water-label,
  .sleep-label {

  }

  /* Weekly Section */
  .weekly-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    width: 99%;
    margin-bottom: -98%;
  }

  .steps-comparison {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .weekly-header {
    margin: -2%;
  }

  .line-chart-group {
    height: 64%;
    width: 95%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
  }

  .line-chart {
    height: 10%;
    position: relative;
    width: 98%;
    /* border: 2px solid #1c5061; */
    margin-bottom: 30%;
  }

  .bar-charts {
    width: 100%;
  }

  .comparison-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: -3%;
  }

  .daily-bar {
    width: 40%;
  }

  .steps-bar {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -3%;
  }

  /* Activity Data Section  */
  .weekly-water-sleep {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
  }

  .water-intake,
  .sleep-data, .double-chart {
    width: 47%;
    height: 100%;
  }

  .averages-section {
    display: flex;
    justify-content: center;
    /* width: 95%; */
    height: 20%;
    /* margin-bottom: 20%; */
  }

  .average-sleep-hours,
  .average-sleep-quality {
    display: flex;
    font-family: "Permanent Marker";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .avg-number {
    font-size: 2rem;
    border: 4px solid #f37981;
    border-radius: 50%;
    width: 50%;
    padding: 5%;
    margin: 0;
  }

  .spacer {
    height: 30%;
    position: fixed;
  }

  /* User Data Section  */
  .user-info-section {
    background-color: #011F2C;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: space-around;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    opacity: 65%;
    color: #f3bf89;
    margin-bottom: 0;
    height: 18%;
    font-size: 13px;
    clear: both;
  }

  .right-side {
    margin-right: 5px;
    margin-left: 5px;
  }

  .left-side {
    margin-left: 5px;
    margin-right: 5px;
  }

 }

/* Desktop Styling */

@media all and (min-width: 1000px) {

  html {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    /* overflow: hidden; */
  }

  body {
    margin: 0;
    border: 0;
    font-family: "Roboto Mono";
    max-width: 100%;
    height: 100vh;
    background-color: #043144;
    border-color: #043144;
    color: #D4E0E5;
  }

  .wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas:
      "header"
      "page";
  }

  .header {
    grid-area: header;
    display: flex;
    align-items: space-around;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    /* height: 3%; */
    /* margin-bottom: -1%; */
    margin-top: -3%;
  }

  .date {
    font-size: 140%;
    margin-left: .5rem;
  }

  .greeting {
    font-family: "Permanent Marker";
    /* margin-right: 2rem; */
    font-size: 200%;
  }

  .calendar {
    margin-right: .5rem;
    width: 80px;
    height: 80px;
  }

  .page {
    grid-area: page;
    margin-top:-3%;
    display:grid;
    border-top: 4px solid #1c5061;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    grid-template-areas:
      "main"
      "aside";
  }

  .user-info-section {
    background-color: #1c5061;
    grid-area: aside;
    opacity: 65%;
    color: #f3bf89;
    /* margin-right: 3%;
    margin-left: 3%; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #f3bf89;
    /* margin-top: 62%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 2rem;
    position: fixed;
    bottom: 0;
  }

  .left-side, .right-side {
    display: flex;
    justify-content: space-around;

  }

  /* .user-info {
    margin-bottom: 10%;
  } */

  .main {
    grid-area: main;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas:
      "stats stats"
      "activity weekly"
      "activity averages"
  }


   .daily-stats {
    /* background-color: yellow; */
    grid-area: stats;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    font-family: "Permanent Marker";
  }

  .icons-list{
    display: flex;
    width: 100%;
    margin-top: -0.6%;
    /* align-items: space-between; */
  }

  .row {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }

  .stats {
    margin-left: 3%;
    /* margin-top: -0%; */
  }

  .daily-icon {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #1c5061;
    padding: 7px 17px 7px;
    border-radius: 20px;
    background-color: #1c5061;
    position: relative;
    width: 14%;
  }

  .weekly-activity {
    grid-area: activity;
    margin-top: -2%;
  }

  .weekly-water-sleep {
    /* background-color: turquoise; */
    grid-area: weekly;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5.5%;


  }

  .water-intake {
    width: 60%;
    /* height: 100px; */
  }

  .sleep-data {
    width: 60%;
    /* height: 100%; */
  }


  .averages-section {
    grid-area: averages;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 95%; */
    height: 20%;
    margin-top: 24%;
    /* margin-bottom: 20%; */
  }

  .spacer {
    background-color: lightcoral;
    grid-area: spacer;
    height: 100%;
    width: 100%;
  }

  .icon {
    width: 65px;
    height: 65px;
  }

  .arrow {
    margin-right: 10em;
  }


  .weekly-header {
    margin-bottom: 0.2%;
    margin-top: 1%;
    margin-bottom: -4%;
  }

  .line-chart-group {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 2.5%;
    margin-top: -6%;
  }

  .line-chart {
    height: 20%;
    width: 30%;
    margin-top: 5%;
  }

  .bar-charts {
    display: flex;
    justify-content: space-between;
  }

  .steps-comparison {
    /* width: 100%; */
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1%;
    margin-left: 4%;

  }
  .steps-bar {
    height: 30%;
    margin-top: -2%;
  }

  .comparison-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .weekly-bar {
    width: 430px;
    height: 220px;
  }

  /* .double-chart {
    height: 100%;
    width: 100%;
  } */

  .minutes-bar {
    width: 430px;
    height: 220px;
    margin-left: -7%;
  }

  .stair-bar {
    width: 430px;
    height: 220px;
    margin-left: 3%;
  }



  /* .daily-bar {
    width: 80%;
    height: 100%;
  } */

  .averages-section {
    height: 100%;
    width: 100%;
    /* margin-bottom: 15%; */
    margin-top: 9%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
  }

  .average-sleep-hours,
  .average-sleep-quality {
    display: flex;
    font-family: "Permanent Marker";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -9%;
  }

  .avg-number {
    font-size: 1.5rem;
    border: 4px solid #f37981;
    border-radius: 50%;
    width: 50%;
    padding: 5%;
    margin-top: 20%;
  }

  .time-label {
    margin-top: -8%;
    margin-bottom: 4%;
  }

  .quality-label {
    margin-top: -8%;
    /* margin-bottom: 40%; */
  }

  canvas {
    background-color: #1c5061;
    border-radius: 10px;
    border-color: #1c5061;
    margin-bottom: 5%;
    margin-top: 5%;
  }


}
